# Folders
.bobby/
.fabric/
crash-reports/
dashloader-cache/
data/
emotes/
logs/
ModTranslations/
resourcepacks/
saves/
schematics/
server-resource-packs/
skins/
screenshots/
axiom/

# Files
irisUpdateInfo.json
hotbar.nbt
usercache.json

# Litematica
config/litematica/
config/litematica.json

# Screenshot Viewer
config/screenshot_viewer-client.json