completedTutorials=[
    introduction,
    "box_select_tool",
    selection
]
customDowngradeSuggestions=[]
globalScale=1
lastTranslationCount=45925
openEditorWindowTypes=[
    tools,
    "tool_options",
    palette,
    "active_block",
    history,
    "world_properties",
    clipboard,
    "target_info"
]
rootEditorPalette {
    blocks=[]
}
savedCustomTheme="ASel0AAAlJbUd1aURhcmsAAA=="
showCloseWindowButton=false
showNon90DegreeRotationWarning=true
showToolMaskOpenWarning=false
shownIntroduction=true
