completedTutorials=[]
customDowngradeSuggestions=[]
globalScale=1
lastTranslationCount=33678
openEditorWindowTypes=[
    tools,
    "tool_options",
    palette,
    "active_block",
    history,
    "world_properties",
    clipboard,
    "target_info"
]
rootEditorPalette {
    blocks=[]
}
savedCustomTheme="ASel0AAAlJbUd1aURhcmsAAA=="
showCloseWindowButton=false
shownIntroduction=true
